<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Libro</title>
</head>
<body>
    <h1>Agregar Libro</h1>
    <form action="{{ url_for('book.add') }}" method="post">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        <label for="author">Autor:</label>

        <select id="author" name="author">
            {% for author in data %}
                <option value="{{ author.id }}">{{ author.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Agregar Libro</button>
    </form>
</body>
</html>